@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DinNextBlack';
  src: url('/fonts/DINNextW1G-Black.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'DinNextBlack';
  src: url('/fonts/DINNextW1G-BlackItalic.otf') format('opentype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'DinNext';
  src: url('/fonts/DINNextW1G-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DinNext';
  src: url('/fonts/DINNextW1G-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DinNextMedium';
  src: url('/fonts/DINNextW1G-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DinNextMedium';
  src: url('/fonts/DINNextW1G-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DinNext';
  src: url('/fonts/DINNextW1G-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinNext';
  src: url('/fonts/DINNextW1G-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DinNextLight';
  src: url('/fonts/DINNextW1G-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DinNextLight';
  src: url('/fonts/DINNextW1G-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DinNextUltraLight';
  src: url('/fonts/DINNextW1G-UltraLight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'DinNextUltraLight';
  src: url('/fonts/DINNextW1G-UltraLightIt.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  position: fixed;
  inset: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.font-lighter {
  font-weight: lighter;
}

.text-ulg {
  font-size: 12px;
}


.match-terminated {
  font-family: 'DinNextNormal';
  font-size: 25px;
}